body{
	padding-right: 0%;
}
/*bgimgs*/
.headerimg{
	background-image: url("../img/large.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	max-width: 100%;
	margin:0%;
	height:510px;
}
.loquieroimg{
	background-image: url("../img/loquieroimg.jpg");
	background-repeat: no-repeat;
	background-size: 97%;
	max-width: 97%;
	height:450px;
	margin-top:4%;
}
/*navbar transparente*/
.navbar.navbar-default{
	background-color: blue;
	opacity:.4;
	border-style: none;
	color:black;
}
/*margin y padding*/
.mg{
	padding:4% 0% 4% 0%;
}
.mg-tx{
	padding:0% 0% 3% 0%;
}
.pd-0{
	padding:0% 0% 0% 0%;
}
.tx-move{
	padding-left:8%;
	padding-top:2%;
}
/*textos*/
.tx-white{
	color:white;
}
.tx-blue{
	color:#4D4DFF;
}
.bg-blue{
	background:rgba(0, 0, 255, 0.4);
	height:119px;
	margin-top:5%;
	width:100%;
}
/*modal*/
input,textarea{
	display:block;
}
.red{
	color:red;
}
/*typos*/
h3,h4,p,li{
	font-family: 'Open Sans', sans-serif;
}
/*posicion de los botones*/
.movebutton{
	margin-top:3%;
	margin-left: 5%;
}
/*icono en hr que debe ir en medio*/
.separador{
	position:absolute;
	margin-left:47%;
	margin-top:-2%;
}
.separador2{
	position:absolute;
	margin-left:45%;
	margin-top:-6%;
}
/*estilo para el footer*/
footer{
	background-color: #003169;
	padding:2% 0% 2% 0%;
}
/*flecha con animate*/
.flecha{
	margin-left:35%;
	margin-top:7%;
}
/*estilo para los logos de user testing 360*/
.logo-2{
	width:30%;
	position: absolute;
	transform:translate(75%,-85%);
}
.logo-3{
	width:30%;
	position: absolute;
	right:43%;
	top:6%;
}
/*iconos hechos circulo, es importante el relative (no se mueven)*/
.circle-icon{
	border-radius: 50%;
	box-shadow: -1px 3px 3px 2px #f4ebff;
	height: 100px;
	width:100px;
	position:relative;
	padding-bottom: 3%;
}
/*icono en el centro, importante el transform:translate*/
.icon-absolute{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
/*iconos dentro de circulos azul aqui use icomoon*/
.icon-blue{
	border-radius: 50%;
	position:relative;
	background-color: #6666ff;
	height:50px;
	width: 50px;
	left:95%;
	font-size:150%;
	margin-top:10%;
}

